#hosts
	header.title
		h2 Hosts

	.container(ng:controller="Host")
		table.hostTable
			tr
				th Hostname
				th IP
				th MAC
				th
			tr(ng:repeat="host in hosts")
				td
					inline(entity="host", property="hostname")
				td
					inline(entity="host", property="ip")
				td
					inline(entity="host", property="mac")
				td
					a.remove(ng:click="host._destroy()")
						i.icon-minus
			tr
				td
					a.create(ng:click="create()")
						i.icon-plus
						| New Host
				td
				td
				td