!!!
html(lang="en")
	head
		meta(charset="utf-8")
		//- The viewport meta tells mobile browsers to render sanely.
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title Deployman
		//- Most of our styles for this app come from bootstrap.
		link(rel="stylesheet", href="vendors/bootstrap/docs/assets/css/bootstrap.css")
		link(rel="stylesheet", href="vendors/bootstrap/docs/assets/css/bootstrap-responsive.css")
		link(rel="stylesheet", href="styles/deployman.css")

		//- In Dependency order, or close enough.
		script(src="vendors/jquery/jquery.min.js")

		//- script(src="vendors/jquery-mobile/compiled/jquery.mobile.min.js")
		script(src="vendors/underscore/underscore-min.js")
		script(src="vendors/superscore/lib/superscore.min.js")
		script(src="vendors/bootstrap/docs/assets/js/bootstrap.min.js")

		//- The JEFRi libraries
		script(src="vendors/jefri/lib/jefri.min.js")
		script(src="vendors/jefri-stores/lib/jefri-stores.min.js")

		//- Load angular last, so all the helper dependencies are available.s
		script(src="vendors/AngularJS/angular.js")
		script(src="vendors/angular-ui/build/angular-ui.min.js")
		script(src="vendors/jefri-angular/build/dist/jefri-angular.min.js")

	body
		//- The Angular application should not contain #templates, as we don't want them
		//- compiled inadvertently.
		.app(ng:app="deployman")
			//- This menu bar markup comes from Bootstrap's responsive header.
			.menu
				.navbar-inner
					.container
						//- The navDrop button expands and collapses the menu when responsively small.
						button.navDrop(type="button", data-toggle="collapse", data-target=".nav-collapse")
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.brand(href="#/") Deployman
						.nav-collapse
							ul.nav
								//- Add new top-level menu items here
								li
									a(href="#/hosts") Hosts
								li
									a(href="#/routers") Routers

			.content
				ng:view

			.container
				export

		//- The bare template markup for angular
		#templates(style="display:none")
			include pages.html

			include components.html

		//- App specific angular scripts. All our app is here.
		script(src="scripts/app.js")
		script(src="scripts/services.js")
		//- script(src="scripts/filters.js")
		//- script(src="scripts/controllers.js")
		//- script(src="scripts/directives.js")
		script(src="scripts/components.js")
		script(src="scripts/pages.js")
